
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">T Skills, View record [
Skill Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN skill_id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skill_id {$fielddispclass_skill_id}">
			<b>Skill Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skill_id {$fielddispclass_skill_id}">
			{$skill_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END skill_id_fieldblock}
	{BEGIN people_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_people_id {$fielddispclass_people_id}">
			<b>People Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_people_id {$fielddispclass_people_id}">
			{$people_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END people_id_fieldblock}
	{BEGIN skill_type_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skill_type_id {$fielddispclass_skill_type_id}">
			<b>Skill Type Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skill_type_id {$fielddispclass_skill_type_id}">
			{$skill_type_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END skill_type_id_fieldblock}
	{BEGIN skill_subtype_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skill_subtype_id {$fielddispclass_skill_subtype_id}">
			<b>Skill Subtype Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skill_subtype_id {$fielddispclass_skill_subtype_id}">
			{$skill_subtype_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END skill_subtype_id_fieldblock}
	{BEGIN skill_note_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skill_note {$fielddispclass_skill_note}">
			<b>Skill Note</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skill_note {$fielddispclass_skill_note}">
			{$skill_note_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END skill_note_fieldblock}
	{BEGIN skill_hourly_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_skill_hourly {$fielddispclass_skill_hourly}">
			<b>Skill Hourly</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_skill_hourly {$fielddispclass_skill_hourly}">
			{$skill_hourly_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END skill_hourly_fieldblock}
	{BEGIN prof_provider_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_prof_provider {$fielddispclass_prof_provider}">
			<b>Prof Provider</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_prof_provider {$fielddispclass_prof_provider}">
			{$prof_provider_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END prof_provider_fieldblock}
	{BEGIN firstname_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_firstname {$fielddispclass_firstname}">
			<b>Firstname</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_firstname {$fielddispclass_firstname}">
			{$firstname_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END firstname_fieldblock}
	{BEGIN lastname_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_lastname {$fielddispclass_lastname}">
			<b>Lastname</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_lastname {$fielddispclass_lastname}">
			{$lastname_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END lastname_fieldblock}
	{BEGIN image_path_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_image_path {$fielddispclass_image_path}">
			<b>Image Path</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_image_path {$fielddispclass_image_path}">
			{$image_path_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END image_path_fieldblock}
	{BEGIN street_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_street {$fielddispclass_street}">
			<b>Street</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_street {$fielddispclass_street}">
			{$street_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END street_fieldblock}
	{BEGIN house_nr_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_house_nr {$fielddispclass_house_nr}">
			<b>House Nr</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_house_nr {$fielddispclass_house_nr}">
			{$house_nr_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END house_nr_fieldblock}
	{BEGIN zip_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_zip {$fielddispclass_zip}">
			<b>Zip</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_zip {$fielddispclass_zip}">
			{$zip_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END zip_fieldblock}
	{BEGIN location_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_location {$fielddispclass_location}">
			<b>Location</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_location {$fielddispclass_location}">
			{$location_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END location_fieldblock}
	{BEGIN locationarea_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_locationarea {$fielddispclass_locationarea}">
			<b>Locationarea</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_locationarea {$fielddispclass_locationarea}">
			{$locationarea_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END locationarea_fieldblock}
	{BEGIN tel_p_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tel_p {$fielddispclass_tel_p}">
			<b>Tel P</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tel_p {$fielddispclass_tel_p}">
			{$tel_p_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tel_p_fieldblock}
	{BEGIN tel_m_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tel_m {$fielddispclass_tel_m}">
			<b>Tel M</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tel_m {$fielddispclass_tel_m}">
			{$tel_m_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tel_m_fieldblock}
	{BEGIN email_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_email {$fielddispclass_email}">
			<b>Email</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_email {$fielddispclass_email}">
			{$email_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
