<html>
<head><title>site_mode</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
{$includes}
</head>

<body {$bodyonload}>
{include_if_exists file="include/header.php"}
<form name="editform" encType="multipart/form-data" method="post" action="_site_mode_edit.php" {$onsubmit}>


{doevent name="EditOnLoad"}

<table cellpadding=4 class="main_table" align=center cellspacing=0 border=0>
<tr><td class=upeditmenu width=100% valign=middle align=center height=35 colspan=2>
site_mode, Edit record [
ID: {$show_key1}
]
</td></tr>
<input type=hidden name=editid1 value="{$key1}">

<tr><td colspan=2 align=center class=downedit>{$message}</td></tr>

  <tr><td class=editshade_b width=150 style="padding-left:20px;">Status</td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {build_edit_control field="Status" value=$value_Status mode="edit"}
    </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;">Message</td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {build_edit_control field="Message" value=$value_Message mode="edit"}
    </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;">Mode</td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {build_edit_control field="Mode" value=$value_Mode mode="edit"}
    </td></tr>
<tr><td colspan=2 align=left class=blackshade2 height=30 valign=middle>
   <img src="images/icon_required.gif"> - Required field
   </td></tr>
 <tr height=40><td colspan=2 align=center valign=top class=blackshade2>
 <span class=buttonborder><input class=button type=submit value="Save"  name=submit1></span>
 <span class=buttonborder><input class=button type=reset value="Reset"></span>
 <span class=buttonborder><input class=button type=reset value="Back to list" onclick="window.location.href='_site_mode_list.php?a=return'"></span>
  <input type=hidden name="a" value="edited">
 </td></tr>

</form>
 
   <!-- legend -->

</table>

{include_if_exists file="include/footer.php"}

{$linkdata}
<script>SetToFirstControl();</script>
</body>
</html>