<html>
<title>taccess</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<body>
<script type="text/javascript" src="include/jquery.js"></script>
{include_if_exists file="include/header.php"}


{doevent name="ViewOnLoad"}

<!--startPDFcut-->
<table cellpadding=4 cellspacing=0 class="main_table" border=0 align=center>
<tr><td class=upeditmenu width=100% valign=middle align=center height=35 colspan=2>
taccess, View record [
ID: {$show_key1}
]
</td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>Country</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_Country}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>Zip</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_Zip}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>Location</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_Location}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>Start</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_Start}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>End</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_End}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>Note</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_Note}&nbsp;
  </td></tr>
  <tr><td class=editshade_b width=150 style="padding-left:20px;"><b>ID</b></td>
  <td width=250 class=editshade_lb style="padding-left:10px;">
    {$show_ID}&nbsp;
  </td></tr>

<tr height=40><td colspan=2 align=center valign=middle class=blackshade2>
 <span class=buttonborder><input class=button type=reset value="Back to list" onclick="window.location.href='_taccess_list.php?a=return'"></span>
 </td></tr>

</table>
<!--endPDFcut-->

{include_if_exists file="include/footer.php"}

</body>
</html>