<html>
<head>
<title>taccess</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
</head>
<body topmargin=5 bgcolor=white {$onload}>
{$includes}

{include_if_exists file="include/header.php"}

<form name="frmSearch" method="GET" action="_taccess_list.php">
<input type="Hidden" name="a" value="search">
<input type="Hidden" name="value" value="1">
<input type="Hidden" name="SearchFor" value="">
<input type="Hidden" name="SearchOption" value="">
<input type="Hidden" name="SearchField" value="">
</form>
<table width=99% align=center border=0 cellpadding=0 cellspacing=0><tr><td>

<table class="navigation" cellspacing="0" cellpadding="3" width=100% border=0>

<tr>
<td align=left><font style="FONT-FAMILY: Verdana, Arial;">Logged as</font>&nbsp;<b>{$userid}</b>&nbsp;
<a href="login.php?a=logout" >Log out</a>


</td>

<td align=right>

&nbsp;&nbsp;&nbsp;
<a href="_taccess_search.php">Advanced search</a>	


{if $rowsfound}



{/if}




<!--language-->


</tr>
</table>

<br>
<table class="main_table_border" cellspacing="0" cellpadding="0" border=0>
<tr>
<td class=body2 width=10px>&nbsp;</td>

	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>


	<td width=1px class=border_menu></td>
	<td class=border_menu>&nbsp;</td>
	<td class=border_menu width=1px></td>
	<td class=body2 width=11px></td>

</tr>
<tr>
<td class=body2 width=10px>&nbsp;</td>

		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="_site_mode_list.php">site_mode</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="t_log_list.php">t_log</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="_t_search_list.php">t_search</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="t_people_list.php">t_people</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="t_skills_list.php">t_skills</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu2>
	<a class=menu_db href="t_needs_list.php">t_needs</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_unselect.gif" border=0></td>


		<td width=1px class=border_menu_left></td>
	<td class=td_border_menu>
	<a class=menu_db href="_taccess_list.php">taccess</a></td>
	<td class=body2 colspan=2>
	<img src="include/img/menu_blue_select.gif" border=0></td>

</tr></table>


<table border=0 cellpadding=0 cellspacing=0 class=main_table_border2 width=100%><tr><td>

<table class="main_table_border" cellspacing="0" cellpadding="0" width=100% border=0>


<tr>
    <td height="35" valign=middle align=center style="padding-top:2px;">
<b>Search for </b> &nbsp;&nbsp;&nbsp;
<select id="ctlSearchField">
<option value="">Any field</option>
<option value="Country" {$search_Country}>Country</option>
<option value="Zip" {$search_Zip}>Zip</option>
<option value="Location" {$search_Location}>Location</option>
<option value="Start" {$search_Start}>Start</option>
<option value="End" {$search_End}>End</option>
<option value="Note" {$search_Note}>Note</option>
<option value="ID" {$search_ID}>ID</option>
</select>
&nbsp;
<select id="ctlSearchOption">
<option value="Contains" {$search_contains_option_selected}>Contains</option>
<option value="Equals" {$search_equals_option_selected}>Equals</option>
<option value="Starts with ..." {$search_startswith_option_selected}>Starts with ...</option>
<option value="More than ..." {$search_more_option_selected}>More than ...</option>
<option value="Less than ..." {$search_less_option_selected}>Less than ...</option>
<option value="Equal or more than ..." {$search_equalormore_option_selected}>Equal or more than ...</option>
<option value="Equal or less than ..." {$search_equalorless_option_selected}>Equal or less than ...</option>
<option value="Empty" {$search_empty_option_selected}>Empty</option>
</select>
&nbsp;
<input type=text size=20  autocomplete="off" onkeydown="return listenEvent(event,this,'ordinary');" onkeyup="searchSuggest(event,this,'ordinary');"  name="ctlSearchFor" id="ctlSearchFor" {$search_searchfor}>
&nbsp;
<span class=buttonborder><input type=button class="button" value="Search"
onClick="javascript: RunSearch();"></span>
&nbsp;		
<span class=buttonborder><input type=button class=button value="Show all" 
onClick="javascript: frmSearch.a.value = 'showall'; frmSearch.submit();"></span>


&nbsp;&nbsp;&nbsp;
Details found: {$records_found}&nbsp;
Page {$page} of {$maxpages}


&nbsp;&nbsp;&nbsp;Records Per Page:
<select 
onChange="javascript: document.location='_taccess_list.php?pagesize='+this.options[this.selectedIndex].value;">
<option value="10" {$rpp10_selected}>10</option>
<option value="20" {$rpp20_selected}>20</option>
<option value="30" {$rpp30_selected}>30</option>
<option value="50" {$rpp50_selected}>50</option>
<option value="100" {$rpp100_selected}>100</option>
<option value="500" {$rpp500_selected}>500</option>
</select>
</strong></td>

</tr>


<tr>
    <td colspan=2>
<table width="100%" cellpadding=0 cellspacing=0>
<tr><td class=body2 align=center style="padding:8px;">

<span style="white-space:nowrap;">

 <!-- Add new record -->
<span class=buttonborder><input class=button type=button value="Add new" onclick="window.location.href='_taccess_add.php'"></span>

	   
 

<span id="inline_add" class=buttonborder><input class=button type=button value="Inline Add" onclick="return inlineAdd(newrecord_id++);"></span>



<span name="record_controls">




<span name="edit_selected" class=buttonborder><input name="edit_selected" class=button type=button value="Edit selected" onclick=""javascript:void(0);""></span>

<span name="saveall_edited" style="display:none;" class=buttonborder><input class=button name="saveall_edited" type=button value="Save all" onclick=""javascript:void(0);""></span>
<span name="revertall_edited" style="display:none;" class=buttonborder><input class=button name="revertall_edited" type=button value="Cancel" onclick=""javascript:void(0);""></span>

	 

<span class=buttonborder><input class=button type=button value="Delete selected" onClick="if (confirm('Do you really want to delete these records?')) frmAdmin.submit(); return false;"></span>



</span>
</span>
</td></tr>


<tr><td class=body2 colspan=2><div id="usermessage" class="message"></div></td></tr>
<tr><td colspan=2>

<!-- delete form -->
<form method="POST" action="_taccess_list.php" name="frmAdmin">
	<input type=hidden id="a" name="a" value="delete">
<table name="maintable" class="data" align="center" width="100%" border="0" cellpadding=3 cellspacing=0>
<!-- table header -->
<tr class="blackshade" valign="top">

{if $column1show}


<td width=100 align="center" class="headerlist"><img src="images/icon_edit.gif"></td>



<td width=50 align="center" class="headerlist"><img src="images/icon_edit.gif"></td>



<td width=50 align="center" class="headerlist"><img src="images/icon_view.gif"></td>


<td width=50 align="center" class="headerlist">
<input type=checkbox onClick = "var i; /*this.checked=!this.checked; */
if ((typeof frmAdmin.elements['selection[]'].length)=='undefined')
	frmAdmin.elements['selection[]'].checked=this.checked;
else
for (i=0;i<frmAdmin.elements['selection[]'].length;++i) 
	frmAdmin.elements['selection[]'][i].checked=this.checked;">
</td>



<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_Country}Country">
Country</a>
</td>
<td>{$order_image_Country}</td>
</table>
</td>
<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_Zip}Zip">
Zip</a>
</td>
<td>{$order_image_Zip}</td>
</table>
</td>
<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_Location}Location">
Location</a>
</td>
<td>{$order_image_Location}</td>
</table>
</td>
<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_Start}Start">
Start</a>
</td>
<td>{$order_image_Start}</td>
</table>
</td>
<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_End}End">
End</a>
</td>
<td>{$order_image_End}</td>
</table>
</td>
<td class="headerlist"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_Note}Note">
Note</a>
</td>
<td>{$order_image_Note}</td>
</table>
</td>
<td class="headerlist_right"><table cellpadding=0 cellspacing=0 border=0 align=center><tr><td>
<a class="tablelinks" 
href="_taccess_list.php?orderby={$order_dir_ID}ID">
ID</a>
</td>
<td>{$order_image_ID}</td>
</table>
</td>
{/if}
</tr>


<!-- inline add area -->
<tr class="addarea"> 


{if $column1show}


<td align="center" valign=middle class=borderbody>
<a class="tablelinks" href="_taccess_edit.php?" id="editlink_add" >
Edit</a>
</td>



<td align="center" valign=middle class=borderbody>
<a class="tablelinks" href="_taccess_edit.php?" id="ieditlink_add">
Inline Edit</a>
</td>



<td align="center" valign=middle class=borderbody>
<a class="tablelinks" href="_taccess_view.php?" id="viewlink_add">
View</a>
</td>


<td align="center" valign=middle class=borderbody>
<input type=checkbox name="selection[]" value="" id="check_add">
</td>



<td valign=middle class=borderbody>
<span id="add_Country"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_Zip"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_Location"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_Start"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_End"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_Note"></span>&nbsp;
</td>
<td valign=middle class=borderbody>
<span id="add_ID"></span>&nbsp;
</td>
{/if}
</tr>
<!-- end inline add area -->
{if $display_records}

<!-- table data -->
<!--{foreach from=$rowinfo item=row}-->


<tr valign="top"
{$row.shadeclass} 
onmouseover="this.className = 'rowselected';" onmouseout="this.className = '{$row.shadeclassname}';"
{$row.rowstyle}
> 





<td align="center" valign=middle class=borderbody>

<a class="tablelinks" href="_taccess_edit.php?{$row.1editlink}"  id="editlink{$row.1recno}" >
Edit</a>

</td>



<td align="center" valign=middle class=borderbody>

<a class=tablelinks href="_taccess_edit.php?{$row.1editlink}" onclick="return inlineEdit('{$row.1recno}','{$row.1editlink}');" id="ieditlink{$row.1recno}">Inline Edit</a>

</td>



<td align="center" valign=middle class=borderbody>
<a class="tablelinks" href="_taccess_view.php?{$row.1editlink}"  id="viewlink{$row.1recno}" >
View</a>
</td>


<td align="center" valign=middle class=borderbody>

<input type=checkbox name="selection[]" value="{$row.1keyblock}" id="check{$row.1recno}">

</td>





<td align=center valign=middle class=borderbody {$row.1Country_style}>
{$row.1Country_value}
</td>
<td align=center valign=middle class=borderbody {$row.1Zip_style}>
{$row.1Zip_value}
</td>
<td align=center valign=middle class=borderbody {$row.1Location_style}>
{$row.1Location_value}
</td>
<td align=center valign=middle class=borderbody {$row.1Start_style}>
{$row.1Start_value}
</td>
<td align=center valign=middle class=borderbody {$row.1End_style}>
{$row.1End_value}
</td>
<td align=center valign=middle class=borderbody {$row.1Note_style}>
{$row.1Note_value}
</td>
<td align=center valign=middle class=borderbody {$row.1ID_style}>
{$row.1ID_value}
</td>


</tr>
<!--{/foreach}-->
	

{/if} <!-- display_records -->

</table>
</form> 


</td>
</tr>	

{if $maxpages>1}
<tr>
<td height=30px colspan=2 align="center">{$pagination}</td>
</tr>
{/if} 
{if $message!=""}
<tr name=notfound_message>
<td height=30px colspan=2 align="center">
<b>{$message}</b>
</td>
</tr>
{/if} 

</table>

</td></tr></table>
</td></tr></table>
</td></tr></table>
{doevent name="ListOnLoad"}

{include_if_exists file="include/footer.php"}
{$linkdata}
</body>
</html>

