<html>
<head>
<title>t_skills: Advanced search page</title>
</head>
<link REL="stylesheet" href="include/style.css" type="text/css">
{$includes}
<body bgcolor=white {$onload}>
{include_if_exists file="include/header.php"}
<!-- search form -->
<form method="POST" 
action="t_skills_list.php" 
name="editform" {if $noAJAX} onkeydown="OnKeyDown(event);" {/if} >
	<input type="hidden" id="a" name="a" value="advsearch">

{doevent name="SearchOnLoad"}
	
<table CELLPADDING=4 CELLSPACING=1 align='center' width='750'>
<tr valign=center class=blackshade>
<td colspan=5 class=tableheader>

<table width=100% CELLSPACING=0 CELLPADDING=3><tr>
<td width=200 class=tableheader>t_skills</td>
<td align=center class=tableheader>
Advanced search</td>
<td width=200 class=tableheader>&nbsp;</td>
</tr></table>

</td></tr>

<tr><td colspan=5 align=center valign=middle class=header2>
<span class=fieldname>Search for: </span>
<input type="radio" name="type" value="and" {$all_checked}>All conditions
&nbsp;&nbsp;&nbsp;
<input type="radio" name="type" value="or" {$any_checked}>Any condition
</div>
</td></tr>
<tr valign=center class=blackshade>
<td align=center valign=middle>&nbsp;</td><td width=30 align=center valign=middle class=fieldname>NOT</td>
<td colspan=3 align=center valign=middle>&nbsp; </td></tr>

		
<tr class=shade>
	<td class=editshade_b>skill_id
	<input type="Hidden" name="asearchfield[]" value="skill_id"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_skill_id" {$not_skill_id}></td>
	
	<td class=editshade_lb>
	{$searchtype_skill_id}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="skill_id" value=$value_skill_id mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_skill_id">
	{build_edit_control field="skill_id" second=true value=$value1_skill_id mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>people_id
	<input type="Hidden" name="asearchfield[]" value="people_id"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_people_id" {$not_people_id}></td>
	
	<td class=editshade_lb>
	{$searchtype_people_id}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="people_id" value=$value_people_id mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_people_id">
	{build_edit_control field="people_id" second=true value=$value1_people_id mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>skill_type_id
	<input type="Hidden" name="asearchfield[]" value="skill_type_id"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_skill_type_id" {$not_skill_type_id}></td>
	
	<td class=editshade_lb>
	{$searchtype_skill_type_id}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="skill_type_id" value=$value_skill_type_id mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_skill_type_id">
	{build_edit_control field="skill_type_id" second=true value=$value1_skill_type_id mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>skill_subtype_id
	<input type="Hidden" name="asearchfield[]" value="skill_subtype_id"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_skill_subtype_id" {$not_skill_subtype_id}></td>
	
	<td class=editshade_lb>
	{$searchtype_skill_subtype_id}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="skill_subtype_id" value=$value_skill_subtype_id mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_skill_subtype_id">
	{build_edit_control field="skill_subtype_id" second=true value=$value1_skill_subtype_id mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>skill_note
	<input type="Hidden" name="asearchfield[]" value="skill_note"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_skill_note" {$not_skill_note}></td>
	
	<td class=editshade_lb>
	{$searchtype_skill_note}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="skill_note" value=$value_skill_note mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_skill_note">
	{build_edit_control field="skill_note" second=true value=$value1_skill_note mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>skill_hourly
	<input type="Hidden" name="asearchfield[]" value="skill_hourly"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_skill_hourly" {$not_skill_hourly}></td>
	
	<td class=editshade_lb>
	{$searchtype_skill_hourly}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="skill_hourly" value=$value_skill_hourly mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_skill_hourly">
	{build_edit_control field="skill_hourly" second=true value=$value1_skill_hourly mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>prof_provider
	<input type="Hidden" name="asearchfield[]" value="prof_provider"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_prof_provider" {$not_prof_provider}></td>
	
	<td class=editshade_lb>
	{$searchtype_prof_provider}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="prof_provider" value=$value_prof_provider mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_prof_provider">
	{build_edit_control field="prof_provider" second=true value=$value1_prof_provider mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>firstname
	<input type="Hidden" name="asearchfield[]" value="firstname"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_firstname" {$not_firstname}></td>
	
	<td class=editshade_lb>
	{$searchtype_firstname}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="firstname" value=$value_firstname mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_firstname">
	{build_edit_control field="firstname" second=true value=$value1_firstname mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>lastname
	<input type="Hidden" name="asearchfield[]" value="lastname"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_lastname" {$not_lastname}></td>
	
	<td class=editshade_lb>
	{$searchtype_lastname}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="lastname" value=$value_lastname mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_lastname">
	{build_edit_control field="lastname" second=true value=$value1_lastname mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>image_path
	<input type="Hidden" name="asearchfield[]" value="image_path"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_image_path" {$not_image_path}></td>
	
	<td class=editshade_lb>
	{$searchtype_image_path}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="image_path" value=$value_image_path mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_image_path">
	{build_edit_control field="image_path" second=true value=$value1_image_path mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>street
	<input type="Hidden" name="asearchfield[]" value="street"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_street" {$not_street}></td>
	
	<td class=editshade_lb>
	{$searchtype_street}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="street" value=$value_street mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_street">
	{build_edit_control field="street" second=true value=$value1_street mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>house_nr
	<input type="Hidden" name="asearchfield[]" value="house_nr"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_house_nr" {$not_house_nr}></td>
	
	<td class=editshade_lb>
	{$searchtype_house_nr}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="house_nr" value=$value_house_nr mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_house_nr">
	{build_edit_control field="house_nr" second=true value=$value1_house_nr mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>zip
	<input type="Hidden" name="asearchfield[]" value="zip"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_zip" {$not_zip}></td>
	
	<td class=editshade_lb>
	{$searchtype_zip}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="zip" value=$value_zip mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_zip">
	{build_edit_control field="zip" second=true value=$value1_zip mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>location
	<input type="Hidden" name="asearchfield[]" value="location"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_location" {$not_location}></td>
	
	<td class=editshade_lb>
	{$searchtype_location}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="location" value=$value_location mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_location">
	{build_edit_control field="location" second=true value=$value1_location mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>locationarea
	<input type="Hidden" name="asearchfield[]" value="locationarea"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_locationarea" {$not_locationarea}></td>
	
	<td class=editshade_lb>
	{$searchtype_locationarea}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="locationarea" value=$value_locationarea mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_locationarea">
	{build_edit_control field="locationarea" second=true value=$value1_locationarea mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>tel_p
	<input type="Hidden" name="asearchfield[]" value="tel_p"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_tel_p" {$not_tel_p}></td>
	
	<td class=editshade_lb>
	{$searchtype_tel_p}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="tel_p" value=$value_tel_p mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_tel_p">
	{build_edit_control field="tel_p" second=true value=$value1_tel_p mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>tel_m
	<input type="Hidden" name="asearchfield[]" value="tel_m"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_tel_m" {$not_tel_m}></td>
	
	<td class=editshade_lb>
	{$searchtype_tel_m}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="tel_m" value=$value_tel_m mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_tel_m">
	{build_edit_control field="tel_m" second=true value=$value1_tel_m mode="search"}
	</span></td>
	
	
</tr>
		
<tr class=shade>
	<td class=editshade_b>email
	<input type="Hidden" name="asearchfield[]" value="email"></td>
	<td align=center class=editshade_lb><input type=CheckBox name="not_email" {$not_email}></td>
	
	<td class=editshade_lb>
	{$searchtype_email}
	</td>
	
	<td width=270 class=editshade_lb>{build_edit_control field="email" value=$value_email mode="search"}</td>

	<td width=270 class=editshade_lb><span id="second_email">
	{build_edit_control field="email" second=true value=$value1_email mode="search"}
	</span></td>
	
	
</tr>

<tr class=tableheader><td colspan=5 align=center>
<span class=buttonborder><input type=button class=button name="SearchButton" value="Search"
onClick="javascript:document.forms.editform.submit();"></span>
<span class=buttonborder><input class=button type=button value="Reset" onclick="return ResetControls();"></span>
<span class=buttonborder><input type=button class=button value="Back to list" onClick="javascript: document.forms.editform.a.value='return'; document.forms.editform.submit();"></span>
</td></tr>
</table>

</form>
{include_if_exists file="include/footer.php"}
{$linkdata}

</body>
</html>
